@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
	scroll-behavior: smooth;
	scroll-padding-top: 115px;
}
body {
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-image: url('./assets/background.jpeg');
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
	background-repeat: repeat-y;
	background-size: contain;
	margin: 0;
    padding: 0;
}

main,
section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	padding: 10vw;
	padding-top: 15px;
	row-gap: 50px;
}

section {
	row-gap: 0;
	padding-top: 55px;
}

header {
	width: 100%;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 15px;
	padding-bottom: 10px;
	top: 0px;
	position: sticky;
	background: rgb(0, 0, 0, 1);
	z-index: 1000;
	color: white;
}
header nav {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
}

header nav .links {
	display: flex;
	align-items: center;
	gap: 3vw;
}

.links:last-child {
	justify-self: end;
}

header nav a {
	color: white;
	text-decoration: none;
}

header .logo {
	width: 50px;
	transition: all linear 0.5s;
}

h1 {
	width: 100%;
	transition: all linear 0.5s;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	margin: 2px;
}

.logo-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr {
	color: black;
	margin: 0;
}

h4 {
	font-weight: 300;
}

/* loading */
.disable-scrolling {
	overflow: hidden;
}

.loading {
	pointer-events: none;
	cursor: wait;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	width: 90%;
	height: 90%;
	background-color: white;
	place-items: center;
	transition: opacity 1s, visibility 1s;
	opacity: 1;
	border-radius: 100px;
	visibility: visible;
}

.loading > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading-ring {
	pointer-events: none;
	display: inline-block;
	aspect-ratio: 1 / 1;
	width: 2.5rem;
	background-color: black;
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='white'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1;20' calcMode='spline' keyTimes='0;1' keySplines='0.165,0.84,0.44,1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1;0' calcMode='spline' keyTimes='0;1' keySplines='0.3,0.61,0.355,1' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1;20' calcMode='spline' keyTimes='0;1' keySplines='0.165,0.84,0.44,1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1;0' calcMode='spline' keyTimes='0;1' keySplines='0.3,0.61,0.355,1' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='white'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1;20' calcMode='spline' keyTimes='0;1' keySplines='0.165,0.84,0.44,1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1;0' calcMode='spline' keyTimes='0;1' keySplines='0.3,0.61,0.355,1' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1;20' calcMode='spline' keyTimes='0;1' keySplines='0.165,0.84,0.44,1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1;0' calcMode='spline' keyTimes='0;1' keySplines='0.3,0.61,0.355,1' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

/* layout */
.page-gap {
	height: 65dvh;
}

.heading {
	font-weight: 500;
	padding: 10px 30px;
	border-radius: 100px;
	background-color: black;
	color: white;
	margin: 0;
}

.section-line {
	border-left: 2.5px solid black;
	width: 0;
	height: 100px;
}

.section-line-short {
	border-left: 2.5px solid black;
	width: 0;
	height: 50px;
}

.section-info {
	border: 2.5px solid black;
	text-align: center;
	padding: 10px 5.208vw;
	border-radius: 100px;
	background-color: white;
	color: black;
	margin: 0;
}
.section-info h3 {
	font-weight: 500;
}

.section-info h4 {
	font-weight: 300;
}

.section-content {
	border: 2.5px solid black;
	border-radius: 100px;
	padding: max(30px, 3.125dvw);
	max-width: 100%;
	background-color: white;
}

.extra-padding {
	padding: max(75px, 3.125dvw);
}

/* elements */
.raytao {
	border-radius: 100px;
	width: 15em;
}

.bio {
	width: 50dvw;
	text-align: center;
	margin: 5px;
	font-weight: 300;
	font-size: 1em;
}

#illustration .section-content {
	max-width: 75%;
}

.contact-info {
	list-style-type: none;
	margin: 0;
}

/* css shorthands */
.title {
	font-weight: bolder;
	font-style: italic;
	text-align: center;
}

.description {
	width: 300px;
	text-align: center;
	box-sizing: border-box;
	padding: 0 20px;
}

.container {
	position: relative;
}

.container-img {
	max-width: 400px;
	transition: 0.5s ease;
	backface-visibility: hidden;
	opacity: 1;
	display: block;
}

.container-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.container:hover .container-img {
	opacity: 0.5;
}

.container:hover .container-inner {
	opacity: 0.7;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.row-wrap {
	flex-wrap: wrap;
}

.link {
	color: black;
	text-decoration: none;
}

.hover {
	position: relative;
}

.hover img {
	height: 100%;
}

.hover .hover-info {
	visibility: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: max(0.5em, 1.1dvw);
}

.hover .hover-info h3 {
	font-weight: 500;
}
.hover .hover-info h4 {
	font-weight: 300;
}

.hover:hover img {
	opacity: 0.25;
}

.hover:hover .hover-info {
	visibility: visible;
}

/* 3d containers */
.threejs-container {
	position: relative;
}

/* IE10 */
progress {
	color: black;
}

/* Firefox */
progress::-moz-progress-bar {
	background: black;
}

/* Chrome */
progress::-webkit-progress-value {
	background: black;
}

/* Polyfill */
progress[aria-valuenow]:before {
	background: black;
}

progress {
	-webkit-appearance: none;
	appearance: none;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
}

progress[value]::-webkit-progress-value {
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
